{% extends 'base.html.twig' %}

{% block body %}
<h1 id="parcours_top">Pr&eacute;sentation de mon parcours<br />Développeur PHP Drupal / Symfony</h1>
<h3>Accès direct :</h3>
  <a href="#experiences">Exp&eacute;riences professionnelles</a><br />
  <a href="#formation">Formation</a><br />
  <a href="#competences">Compétences</a><br />
  <a href="#loisirs">Loisirs</a><br />
  <a href="#" OnClick="javascript:window.print()">Imprimer le Curriculum Vitae</a><br />
  <h2 class="parcours_titres" id="experiences">Exp&eacute;riences professionnelles</h2>
  <div class="list-experiences">
    <div class="experience-item">
      <div class="exp-date">Depuis Dec 17</div>
      <div class="exp-body">
        <p class="exp-title">Développeur - <a href="http://www.choosit.com/agence" target="_blank">Choosit</a> - Montpellier - CDI</p>
        <h4>Missions</h4>
        <ul>
          <li>Développement applications/sites web</li>
          <li>Ajout/Modification/Suppresion de fonctionnalitées</li>
          <li>Estimation des tâches</li>
          <li>Suivi/compte rendu de travail</li>
        </ul>
        <h4>Environnement technique</h4>
        <ul>
          <li>Drupal 7/8</li>
          <li>Symfony</li>
          <li>PHP 5/7</li>
          <li>Atom/PhpStorm</li>
        </ul>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">Sept-Nov 17</div>
      <div class="exp-body">
        <p class="exp-title">Ingénieur d'&eacute;tude et de d&eacute;veloppement- DTA ingénierie – Montpellier – CDI</p>
        <h4>Missions</h4>
        <ul>
          <li>Formation Java EE</li>
          <li>Installation/Codage plugins Wordpess</li>
          <li>Mise en production site Wordpress</li>
          <li>R&eacute;alisation parcours Javascript pour robot Ozobot</li>
          <li>R&eacute;alisation site quizz pour 4LTrophy Java EE pus PHP</li>
        </ul>
        <h4>Environnement technique</h4>
        <ul>
          <li>Java EE</li>
          <li>PHP 5</li>
          <li>JAVASCRIPT</li>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>BootStrap 3/4</li>
          <li>PhpStorm/Eclipse/NetBeans</li>
        </ul>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">Fév-Avril 17</div>
      <div class="exp-body">
        <p class="exp-title">Développeur PHP / Symfony 3 / Drupal 8 - DTA ingénierie – Montpellier – Stage</p>
        <h4>Contexte</h4>
        <ul>
          <li>Par équipe de 3 personnes</li>
          <li>L’utilisateur passe commande en ligne. Un livreur passe récupérer le sac, il est lavé à laverie et ré-déposé chez le client.</li>
        </ul>
        <h4>Missions</h4>
        <ul>
          <li>Analyse cahier des charges</li>
          <li>Conception technique</li>
          <li>Développement</li>
          <li>Test</li>
          <li>Gestion du temps</li>
          <li>Gestion des commits</li>
        </ul>
        <h4>R&eacute;sultats</h4>
        <ul>
          <li>Présentation d'une version fonctionnelle du site web.</li>
        </ul>
        <h4>Environnement technique</h4>
        <ul>
          <li>Symfony 3</li>
          <li>PHP 5</li>
          <li>JAVASCRIPT</li>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>Angular</li>
          <li>BootStrap</li>
          <li>PhpStorm</li>
        </ul>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">Jan 15-Oct 16</div>
      <div class="exp-body">
        <p class="exp-title">Création Site internet - Ylys -  Codage/Intégration</p>
        <h4>Contexte</h4>
        <ul>
          <li>Projet Personnel de création d'un site internet dans un groupe de 2 personnes.</li>
          <li>Objectif : réaliser un site opérationnel basé sur les dernières technologies et le rendre accessible en ligne.</li>
        </ul>
        <h4>Missions</h4>
        <ul>
          <li>Codage/Programmation pages web et bases de données</li>
          <li>Configuration du serveur et installation des services requis</li>
        </ul>
        <h4>R&eacute;sultats</h4>
        <ul>
          <li>Mise en ligne d'un site fonctionnel qui permet de publier et partager des évènements</li>
          <li>www.ylys.fr</li>
        </ul>
        <h4>Environnement technique</h4>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>PHP7</li>
          <li>MySQL</li>
          <li>DNS</li>
          <li>Apache</li>
          <li>Phpmyadmin</li>
          <li>FTP</li>
        </ul>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">Avril 2016</div>
      <div class="exp-body">
        <p class="exp-title">Clinique Le Languedoc - Narbonne (Int&eacute;rim)</p>
        <h4>Contexte</h4>
        <ul>
          <li>Misson intérimaire</li>
          <li>&Eacute;tablisemment médical</li>
        </ul>
        <h4>Missions</h4>
        <ul>
          <li>Installation de nouveaux postes de télévisions</li>
          <li>Configuration du serveur et installation des services requis</li>
          <li>Configuration du serveur et installation des services requis</li>
        </ul>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2014 - 2016</div>
      <div class="exp-body">
        <p class="exp-title">Maintenance informatique – Assitance/Contact avec Particulier</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2013 Juin - Ao&ucirc;t</div>
      <div class="exp-body">
        <p class="exp-title">Service &agrave; la personne - particulier</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2012 Sept. - D&eacute;c.</div>
      <div class="exp-body">
        <p class="exp-title">Administrateur de r&eacute;seau stagiaire  – Lyc&eacute;e professionnel Charles Blanc</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2006 Juillet</div>
      <div class="exp-body">
        <p class="exp-title">Agent de service – PEP66 Saint-Cyprien - Centre de vacances </p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2005 Juin</div>
      <div class="exp-body">
        <p class="exp-title">Stage d’observation – Menuiserie GRATACOS Perpignan</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2004 D&eacute;cembre</div>
      <div class="exp-body">
        <p class="exp-title">Stage d’observation –Imprimerie du Mas Cabestany</p>
      </div>
    </div>
  </div>
  <h2 class="parcours_titres" id="formation">Formation</h2>
  <div class="list-experiences">
    <div class="experience-item">
      <div class="exp-date">F&eacute;vrier 2017 - Avril 2017</div>
      <div class="exp-body">
        <p class="exp-title">Concepteur - Développeur PHP - Symfony - Drupal</p>
        <ul>
          <li>
            <p>Cette formation pratique vise à compléter et concrétiser les connaissances nécessaires pour la conception, le développement et la maintenance des applications et sites web PHP, associées à l’ensemble des technologies et frameworks utilisés en entreprise.</p>
          </li>
          <li>
            <p>L’industrialisation des développements, la gestion des tests et intégration continue, ainsi que les pratiquesde gestion de projet agile dans un contexte Scrum, seront également présentées et mises en pratique dansle cadre d’un projet complet.</p>
          </li>
          <li>
            <p>Au-delà des technologies et bonnes pratiques de réalisations logicielles, ce parcours formation vise éga-
              lement à apporter les clefs d’une intégration humaine réussie au sein d’une équipe projet et à offrir une compétence professionnelle reconnue en associant Savoir, Savoir-Faire et Savoir-être.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2011 - 2013</div>
      <div class="exp-body">
        <p class="exp-title">Licence Professionnelle Administrateur de réseaux informatiques – Université de Perpignan</p>
        <ul>
          <li>Ma&icirc;trise systèmes d'exploitations Windows (XP/7), Windows Server(2003/2008) et Linux (Debian)</li>
          <li>Installation et administration de serveur Windows et Linux(DNS, DHCP, MAIL, WEB-APACHE, FTP)</li>
          <li>Langage gestion de bases de donn&eacute;es PHP/MYSQL</li>
          <li>Gestion des r&eacute;seaux : &eacute;quipements, c&acirc;blages, routage avancé</li>
          <li>S&ucirc;ret&eacute; et s&eacute;curit&eacute; des syst&egrave;mes d'information</li>
          <li>Cryptographie</li>
          <li>Langages informatiques: HTML, CSS, PHP, MYSQL</li>
        </ul>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2012</div>
      <div class="exp-body">
        <p class="exp-title">Certificat Informatique et Internet (C2i) – Universit&eacute; de Perpignan</p>
        Maîtrise des outils bureautiques (OpenOffice / LibreOffice)
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2010</div>
      <div class="exp-body">
        <p class="exp-title">Master 1 Math&eacute;matiques – Universit&eacute; de Montpellier</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2009 - 2010</div>
      <div class="exp-body">
        <p class="exp-title">Licence Math&eacute;matiques – Universit&eacute; de Perpignan</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2008 - 2009</div>
      <div class="exp-body">
        <p class="exp-title">Classe Préparatoire aux Grandes Écoles (CPGE) - MP   - Lycée Fran&ccedil;ois Arago Perpignan</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2007 - 2008</div>
      <div class="exp-body">
        <p class="exp-title">Classe Préparatoire aux Grandes Écoles (CPGE) – MPSI - Lycée Fran&ccedil;ois Arago Perpignan</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-date">2007</div>
      <div class="exp-body">
        <p class="exp-title">Baccalaur&eacute;at - Lyc&eacute;e Pablo Picasso Perpignan (ex- Lyc&eacute;e Clos Banet)</p>
        <p>Bac S-SI : Scientifique option Sciences de l'ing&eacute;nieur</p>
      </div>
    </div>
  </div>
  <h2 class="parcours_titres" id="competences">Comp&eacute;tences</h2>
  <div class="list-experiences">
    <div class="experience-item">
      <div class="exp-body">
        <p class="exp-title">Langues</p>
        <p>Notions d'anglais</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-body">
        <p class="exp-title">Langages de programmations</p>
        <p>HTML 5, CSS 3, PHP 5/7, MYSQL, Javascript, AngularJS</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-body">
        <p class="exp-title">Systèmes d'explotations</p>
        <p>Microsoft Windows (XP,Seven), Linux (Debian/Ubuntu)</p>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-body">
        <p class="exp-title">Projets Personnels</p>
        <ul>
          <li>Site internet (plusieurs personnes) – Codage/Intégration</li>
          <li>G&eacute;n&eacute;alogie - de 1750 &agrave; nos jours</li>
        </ul>
      </div>
    </div>
    <div class="experience-item">
      <div class="exp-body">
        <p class="exp-title">Autre Loisirs</p>
        <ul>
          <li>Cinéma</li>
          <li>Randonn&eacute;e</li>
        </ul>
      </div>
    </div>
  </div>
<h3><a href="#parcours_top">Revenir en haut de la page</a></h3>
{% endblock %}