<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{% block title %}Anthony Delgado{% endblock %}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="View/img/favicon.ico"/>
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
  <!-- start cookies consent-->
  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#237afc"
          },
          "button": {
            "background": "#fff",
            "text": "#237afc"
          }
        },
        "theme": "classic",
        "content": {
          "message": "Ce site utilise des cookies pour vous proposer la meilleure expérience.",
          "dismiss": "J'accepte",
          "link": "En savoir plus",
          "href": "http://www.anthonydelgado.fr/page-credits.html"
        }
      })
    });
  </script>
  <!-- end cookies consent-->
</head>
<body>
<!-- script google analytics -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-40930967-1', 'anthonydelgado.fr');
  ga('send', 'pageview');

</script>
<!-- fin script google analytics -->
<header>
  <div class="container">
    <nav role="navigation" class="menu">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-parcours.html">Parcours</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projets</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="http://billy.anthonydelgado.fr"target="_blank">G&eacute;n&eacute;alogie</a>
            <a class="dropdown-item" href="http://partagetavideo.anthonydelgado.fr/"target="_blank">Partage ta vid&eacute;o (Symfony 3)</a>
            <a class="dropdown-item" href="http://www.anthonydelgado.fr/jeu"target="_blank">Jeu - Narandor</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Scripts</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="page-script.html">Scripts PHP</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.github.com/delny" target="_blank">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="corps container">
  {% block body '' %}
</div>
<footer>
  <div id="bottom-footer">
    <div class="container bottom-footer-container">
      <div class="copyright">
        <a href="http://www.anthonydelgado.fr"> Anthonydelgado.fr </a><br/>
        Derni&egrave;re mise &agrave; jour : 3 novembre 2018
      </div>
      <div class="site-info">
        <a href="page-credits.html">Mentions l&eacute;gales</a>
      </div>
    </div>
  </div>
</footer>
{% block javascripts %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
